<a href="https://colab.research.google.com/github/Justusm10moringaschool/100-Days-Of-ML-Code/blob/master/Copy_of_Copy_of_Moringa_Data_Science_Prep_W1_Independent_Project_2019_06_VIVIAN_NJAU_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#converting pounds to kgs
x = float(input("Enter the first value in pounds "))
y = float(input("Enter the second value in pounds "))

#converting pounds to kgs
a = x*0.4535922
b = y*0.4535922

print (str(x) + "pounds in kgs is " + str(a) )
print (str(y) + "pounds in kgs is " + str(b) )

Enter the first value in pounds 2.2
Enter the second value in pounds 22
2.2pounds in kgs is 0.9979028400000001
22.0pounds in kgs is 9.9790284

In [ ]:
#sum of the 2 values
z = x + y
print (" The sum is " + str(z))

 The sum is 24.2

In [ ]:
#average of the 2 values
c = (x + y)/2
print (" The average is " + str(c))

 The average is 12.1

In [ ]:
#difference between the two values
d = x - y
print (" The difference between " + str(x) + " and " + str(y) + " is " + str(d))
g = y - x
print (" The difference between " + str(y) + " and " + str(x) + " is " + str(g))

 The difference between 2.2 and 22.0 is -19.8
 The difference between 22.0 and 2.2 is 19.8

In [ ]:
#quotient of the 2 values
e = x / y
print (" The quotient is " + str(e))

 The quotient is 0.6666666666666666

In [ ]:
#even or odd!
if x % 2 == 0:
  print (" The number" + str(x) + " is even")
elif x % 2 != 0:
  print (" The number " + str(x) + " is odd")
if y % 2 == 0:
  print (" The number" + str(y) + " is even")
elif y % 2 != 0:
  print (" The number " + str(y) + " is odd")

 The number 2.2 is odd
 The number22.0 is even